<ion-view ng-controller="LoginController" class="light">
  <ion-content>
	  <div class="list list-inset light top180">
	  	<label class="item item-input linegrey" >
	    	<input type="text" class="linegrey white" placeholder="What is your nickname?" ng-model="nickname">
	  	</label>
	  	<button class="button button-block button-grey" ng-click="join(nickname)">Join</button>
      <button class="button button-block button-grey" ng-click="start()">Start</button>
      <button class="button button-block button-grey" ng-click="stop()">Stop</button>

      <h1>
      {{context.progress}}:{{context.id}}
      </h1>
	  </div>
  </ion-content>
</ion-view>
